.boost-productivity {
    background-color: var(--purple);
    color: white;
}

.boost-productivity-content {
    padding: 96px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.boost-productivity-title {
    font-family: 'Poppins Bold', sans-serif;
    font-size: 44px;
    line-height: 140%;
    max-width: 620px;
    width: 100%;
}

.boost-productivity-desc {
    font-family: 'Poppins Regular', sans-serif;
    font-size: 20px;
    line-height: 180%;
    color: rgba(255, 255, 255, 0.56);
    max-width: 744px;
    width: 100%;
}

.boost-productivity-btn {
    font-family: 'Poppins Medium', sans-serif;
    font-size: 16px;
    padding: 14px 32px;
    background-color: white;
    color: var(--purple);
    border-radius: 8px;
    border: 1px solid transparent;
    transition: all 0.3s ease;
}

.boost-productivity-btn:hover {
    background-color: var(--purple);
    color: white;
    border: 1px solid var(--dark);
}