.footer {
    .footer-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: space-between;
        padding: clamp(24px, 4vw, 56px) 0 clamp(32px, 7vw, 71px);
        border-bottom: 1px solid rgba(18, 17, 39, 0.12);
    }

    .footer-desc {
        font-family: 'Poppins Regular', sans-serif;
        font-size: 14px;
        line-height: 180%;
        color: rgba(18, 17, 39, 0.56);
        max-width: 360px;
        width: 100%;
        margin-top: 24px;
        margin-bottom: 24px;
    }

    .footer-icons-links {
        display: flex;
        align-items: center;
        gap: 32px;
    }

    .footer-icons-links a {
        color: rgba(18, 17, 39, 0.32);
    }

    .footer-icons-links a:hover {
        color: var(--purple);
    }

    .footer-nav {
        display: grid;
        grid-template-columns: repeat(4, minmax(140px, 1fr));
        gap: 64px;
    }

    .footer-nav-col {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .footer-nav-title {
        font-family: 'Poppins SemiBold', sans-serif;
        font-size: 14px;
        line-height: 170%;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        color: rgba(18, 17, 39, 0.4);
    }

    .footer-nav-list {
        display: flex;
        flex-direction: column;
        gap: 8px;

        li a {
            font-family: 'Poppins Regular', sans-serif;
            font-size: 14px;
            line-height: 180%;
            color: rgba(18, 17, 39, 1);
            transition: color 0.25s ease;

            &:hover {
            color: var(--purple);
            }
        }
    }   

    .footer-copyright {
    padding: clamp(16px, 5vw, 37px) 0 clamp(20px, 6vw, 40px);
    text-align: center;
}

    .footer-copyright-text {
        font-family: 'Poppins Regular', sans-serif;
        font-size: 16px;
        line-height: 180%;
        color: rgba(18, 17, 39, 0.56);
    }

    @media (max-width: 1420px) {
        .footer-content {
            grid-template-columns: 1fr;
            gap: 20px;
            padding: clamp(24px, 4vw, 56px) 0 clamp(32px, 0vw, 71px);
        }

        .footer-right {
            order: 1;
        }

        .footer-left {
            order: 2;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }

        .footer-left-top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;
        }

        .footer-desc {
            margin-top: 5px;
            margin-bottom: 5px;
        }

        .footer-copyright {
            padding: clamp(16px, 2vw, 37px) 0 clamp(20px, 2vw, 40px);
        }
    }

    @media (max-width: 850px) {
        .footer-nav {
            grid-template-columns: repeat(2, 1fr);
            gap: 40px;
        }

        .footer-content {
            gap: 40px;
        }

        .footer-left-top {
            flex-direction: column;
            align-items: flex-start;
            gap: 5px;
        }
    }

    @media (max-width: 600px) {
        .footer-left {
            flex-direction: column;
            align-items: flex-start;
        }

        .footer-desc {
            margin-bottom: 20px;
        }
    }
}
