.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  background: #fff;

  transform: translateY(0);
  transition: transform 0.5s ease;

  will-change: transform;

  border-bottom: 1px solid transparent;
  transition:
    transform 0.5s ease,
    border-color 0.25s ease;

  padding: 0px 86px;
}

.header--scrolled {
  border-color: var(--dark);
}

.header--hidden {
  transform: translateY(-100%);
}



.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 0px;
    max-width: 1920px;
    margin: 0 auto;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-links {
    display: flex;
    align-items: center;
    gap: 48px;
}

.header-buttons {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header-buttons button {
    padding: 8px 24px;
}

.sign-up-btn {
    background-color: var(--purple);
    color: white;
    border-radius: 6px;
}