.optimize-payments {
    padding: clamp(40px, 8vw, 96px) 0;
    background-color: rgba(249, 249, 251, 1);
}

.optimize-payments-info {
    margin-top: 41px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    align-items: flex-start;
    justify-content: space-between;
}

.optimize-payments-title {
    font-family: 'Poppins Bold', sans-serif;
    font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
    color: var(--purple);
    line-height: 140%;
    margin-bottom: 24px;
}

.optimize-payments-desc {
    font-family: 'Poppins Regular', sans-serif;
    font-size: clamp(0.75rem, 0.7rem + 0.25vw, 1rem);
    line-height: 180%;
    color: rgba(18, 17, 39, 0.56);
    margin-bottom: 12px;
    max-width: 456px;
    width: 100%;
}

.optimize-payments-image {
    position: relative;
  overflow: hidden;

  -webkit-mask-image:
    linear-gradient(
      to right,
      transparent 0%,
      black 8%,
      black 92%,
      transparent 100%
    ),
    linear-gradient(
      to bottom,
      black 0%,
      black 90%,
      transparent 100%
    );

  -webkit-mask-composite: intersect;

  mask-image:
    linear-gradient(
      to right,
      transparent 0%,
      black 1%,
      black 94%,
      transparent 100%
    ),
    linear-gradient(
      to bottom,
      black 0%,
      black 90%,
      transparent 100%
    );

  mask-composite: intersect;
}

.optimize-payments-image img {
  max-width: 100%;
  height: auto;
  display: block;
}

.feature-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0;
  padding: 0;
}

.feature-item {
  display: flex;
  align-items: center;
  gap: 12px;

  font-family: 'Poppins Regular', sans-serif;
  font-size: clamp(0.75rem, 0.725rem + 0.13vw, 0.875rem);
  line-height: 180%;
  color: var(--dark);

  list-style: none;
}

.feature-icon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.feature-icon svg {
  display: block;
}

@media (max-width: 1100px) {
  .optimize-payments-info {
    grid-template-columns: 1fr;
  }

  .optimize-payments-image img {
    width: 100%;
  }
}