.why-dlex {
    padding-top: 24px;
    padding-bottom: 96px;
}

.why-dlex-title {
    font-family: 'Poppins Bold', sans-serif;
    font-size: clamp(1.25rem, 1rem + 1.25vw, 2.5rem);
    line-height: 140%;
    color: var(--dark);
    max-width: 600px;
    width: 100%;
}

// mask
.why-dlex-cards {
  position: relative;
  overflow: hidden;

  -webkit-mask-image:
    linear-gradient(
      to right,
      transparent 0%,
      black 8%,
      black 92%,
      transparent 100%
    ),
    linear-gradient(
      to bottom,
      black 0%,
      black 90%,
      transparent 100%
    );

  -webkit-mask-composite: intersect;

  mask-image:
    linear-gradient(
      to right,
      transparent 0%,
      black 2%,
      black 94%,
      transparent 100%
    ),
    linear-gradient(
      to bottom,
      black 0%,
      black 90%,
      transparent 100%
    );

  mask-composite: intersect;

  padding: 40px 36px;
}


.why-dlex-cards-wrapper {
  padding: 0 120px;
}

.why-dlex-cards .swiper-wrapper {
  padding: 0;
}

.swiper-slide {
  height: auto;
}

.why-dlex-card {
  position: relative;
  box-sizing: border-box;
  padding: clamp(24px, 5vw, 56px) clamp(16px, 4vw, 24px);

  background: #fff;
  border-radius: 12px;

  box-shadow: 0 20px 20px rgba(18, 17, 39, 0.08);
  transition: transform 0.3s ease;
}

.why-dlex-card::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 12px;

  box-shadow: 0 30px 70px rgba(18, 17, 39, 0.12);
  opacity: 0;

  transition: opacity 0.3s ease;
  pointer-events: none;
}

.why-dlex-card:hover {
  transform: translateY(-6px);
}

.why-dlex-card:hover::after {
  opacity: 1;
}

.why-dlex-card-title {
    font-family: 'Poppins Bold', sans-serif;
    font-size: 16px;
    margin-top: 24px;
    margin-bottom: 16px;
}

.why-dlex-card-desc {
    font-family: 'Poppins Regular', sans-serif;
    font-size: 14px;
    line-height: 180%;
    color: rgba(18, 17, 39, 0.56);
}

.why-dlex-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.pagination-arrow {
  width: clamp(40px, 6vw, 56px);
  height: clamp(40px, 6vw, 56px);
  border-radius: 50%;
  border: none;
  background: rgba(236, 67, 179, 0.08);
  color: rgba(157, 9, 124, 1);
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  transition:
    background 0.3s ease,
    color 0.3s ease,
    transform 0.25s ease,
    box-shadow 0.25s ease;
}

.pagination-arrow svg {
  width: clamp(16px, 3vw, 24px);
  height: clamp(16px, 3vw, 24px);
  flex-shrink: 0;
}

.pagination-arrow.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.pagination-arrow:hover {
  background: linear-gradient(
    135deg,
    rgba(157, 9, 124, 1),
    rgba(236, 67, 179, 1)
  );

  color: #ffffff;

  transform: translateY(0px);

  box-shadow:
    0 10px 25px rgba(157, 9, 124, 0.35),
    0 4px 12px rgba(236, 67, 179, 0.25);
}

.pagination-dots {
  display: flex;
  align-items: center;
  gap: 8px;
}

.pagination-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: none;
  background: rgba(50, 51, 76, 1);
  cursor: pointer;

  transition: transform 0.25s ease, background 0.25s ease;
}

.pagination-dot:hover {
  transform: scale(1.1);
}

.pagination-dot--active {
  width: 24px;
  height: 24px;
  background: transparent;
  border: 2px solid rgba(157, 9, 124, 1);
  position: relative;
 
}

.pagination-dot--active::after {
  content: "";
  position: absolute;
  inset: 5px; 
  border-radius: 50%;
  background: rgba(157, 9, 124, 1);
}

@media (max-width: 1400px) {
  .why-dlex-cards-wrapper {
    padding: 0px 60px;
  }
  
  .why-dlex-cards {
    padding: 40px 18px;
  }
}

@media (max-width: 1000px) {
  .why-dlex-cards-wrapper {
    padding: 0px 24px;
  }
}

@media (max-width: 700px) {
  .why-dlex-cards-wrapper {
    padding: 0px;
  }
}