.you-need {
    padding: 60px 0px;
}

.you-need-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: space-between;
}

.you-need-right {
  display: flex;
  justify-content: flex-end;
}

.you-need-title {
    font-family: 'Poppins Bold', sans-serif;
    font-size: clamp(1rem, 0.8rem + 1vw, 2rem);
    line-height: 140%;
    margin-bottom: 8px;
    white-space: nowrap;
}

.you-need-title span {
    color: var(--purple);
}

.you-need-desc {
    font-family: 'Poppins Regular', sans-serif;
    font-size: clamp(0.875rem, 0.825rem + 0.25vw, 1.125rem);
    line-height: 180%;
    color: rgba(18, 17, 39, 0.56);
}

.you-need-btn {
  font-family: 'Poppins Medium', sans-serif;
  font-size: clamp(0.875rem, 0.85rem + 0.13vw, 1rem);

  background-color: var(--purple);   
  color: #ffffff;

  border-radius: 8px;
  padding:
    clamp(0.7em, 1vw, 0.9em)
    clamp(1.4em, 3vw, 2em);

  transition: background-color 0.3s ease;
}

.you-need-btn:hover {
  background-color: #5A62FF;   
}
